#mainContiner {
    width:100%;
    height:1000px;
    background:white
}

#header {
    width:100%;
    height:80px;
}

#bodyHolder{
    width:100%;
    height:920px;
}

#leftSide{
    width:10%;
    height:920px;
    float:left;
}

#contentBody{
    width:90%;
    height:920px;
    float:left;
}

#footer{
    height:80px;
    width:100%;
    clear:both;
}
